{% extends 'parent.html.twig' %}

{% block title %}Accueil du site{% endblock %}

{% block headerTitle %}Bienvenu !{% endblock %}


{% block content %}

<p class="row">
    Ullamco aute fugiat mollit mollit anim do veniam sunt non labore dolore. Aliqua anim et duis nostrud aliqua nostrud
    excepteur. Proident laborum nisi non ullamco aliquip pariatur. Eiusmod sint sit cupidatat aliqua eu irure excepteur
    aliquip do nisi ea sint ullamco fugiat. Cupidatat ex ad officia commodo in dolor sint ea non.

    Velit sunt Lorem ullamco cupidatat. Voluptate eiusmod esse pariatur ullamco proident. Veniam mollit proident mollit
    do. Aute id non aliqua dolor fugiat elit laboris consectetur commodo consequat. Quis sunt mollit amet eu ipsum
    occaecat proident anim esse culpa qui. Aute eu quis consequat ullamco ullamco excepteur voluptate qui labore.

    Excepteur labore mollit nisi consectetur mollit laboris exercitation laboris. Consectetur exercitation do eu in amet
    pariatur magna ullamco eiusmod quis duis. Incididunt voluptate consequat adipisicing reprehenderit cillum cupidatat
    aliqua anim eu ea officia. Elit dolor ipsum sit consequat velit anim laborum sunt. Reprehenderit sit irure sunt
    velit est reprehenderit voluptate reprehenderit duis incididunt.

    Officia magna duis labore nisi sunt quis ipsum consectetur esse dolor anim. Esse labore laboris dolor est occaecat
    officia. Ex qui minim sunt aliquip excepteur qui aliquip cupidatat id culpa.
</p>
<p class="row">
    Exercitation in voluptate nostrud elit duis ea adipisicing est. Minim qui et anim nisi quis labore minim irure aute
    nisi. Eu ex eu ipsum incididunt veniam non nisi adipisicing culpa ad pariatur. Occaecat minim laboris incididunt ad
    anim deserunt.

    Anim deserunt proident pariatur laboris elit do. Cillum aliquip voluptate nisi nostrud exercitation deserunt
    proident cupidatat aute. Ex quis sit sit minim tempor dolore. Consectetur duis esse ipsum Lorem adipisicing Lorem
    elit. Excepteur laborum minim culpa qui fugiat id ipsum nulla incididunt deserunt nostrud laborum.

    Velit nisi sunt velit deserunt reprehenderit pariatur id. Ad et duis ea dolore quis eu consectetur id ullamco culpa.
    Consequat mollit laboris Lorem officia.
</p>
<p class="row">
    Amet nostrud ex excepteur consectetur nisi duis. Pariatur aute do quis magna reprehenderit. Dolor magna est ad
    veniam non est minim ipsum. Deserunt elit nulla culpa anim aliquip aute magna elit esse eiusmod fugiat. Dolor elit
    voluptate magna ut deserunt incididunt.

    Officia cupidatat irure Lorem ut non elit officia reprehenderit laboris nostrud esse minim. Occaecat incididunt
    exercitation anim ipsum aliqua nulla laborum sunt consequat ea. Adipisicing proident sit anim aliqua Lorem nulla
    ipsum dolore enim exercitation officia et tempor. Duis laborum aliqua aliqua consectetur ipsum ea deserunt
    reprehenderit aliqua duis aute laborum nulla commodo. Nulla laboris tempor sunt tempor eiusmod nisi dolor.

    Tempor sunt amet officia sint pariatur tempor cupidatat consequat magna est fugiat qui cillum est. Nisi irure dolore
    excepteur enim do anim aliqua culpa qui nulla id cillum veniam nulla. Nisi sit cupidatat exercitation eu id nisi.
    Sit duis magna laborum anim minim mollit commodo sunt duis mollit cillum ullamco. Ea nisi incididunt ex veniam in.

    Consectetur eiusmod velit occaecat sunt velit commodo aliqua ipsum fugiat sit occaecat. Proident duis exercitation
    proident occaecat nisi magna ea ad laboris adipisicing nostrud ullamco proident. Deserunt ullamco ad sunt do elit
    elit Lorem et id non eiusmod nisi cupidatat dolore.

    Lorem laborum excepteur et in. Occaecat adipisicing aute anim occaecat dolor. Occaecat eu esse magna voluptate
    consectetur minim. Dolore qui exercitation id quis est elit est. Est et ullamco aliqua aliquip. Amet cupidatat minim
    Lorem consectetur dolore anim culpa. Elit dolore anim non elit aute ullamco qui consequat sunt laboris ullamco
    irure.

    Tempor pariatur nisi duis officia. Sit eu mollit fugiat pariatur aliquip fugiat amet sint sunt irure cupidatat do
    excepteur. Lorem adipisicing aute ut amet voluptate eu velit commodo do.

    Id est aliqua id non cupidatat. Dolor officia dolore ullamco culpa aliquip sint esse et Lorem ea. Cillum excepteur
    et id minim Lorem consectetur incididunt nisi consectetur Lorem minim velit et. Fugiat nulla est ea anim dolore
    cupidatat eu in ut cupidatat reprehenderit. Magna anim esse proident et id nulla labore ipsum. Eiusmod aliquip
    reprehenderit do veniam laboris cupidatat ipsum sunt. Nostrud occaecat esse enim reprehenderit quis aliquip
    consectetur esse dolor reprehenderit reprehenderit.
</p>

{% include 'shared/_banner.html.twig' with {'sujet' : 'Inclusion'} %}
{% include 'shared/_banner.html.twig' with {'sujet' : 'Truc différent'} %}

{% endblock %}